In [3]:
import numpy as np
import pandas as pd

In [5]:
df= pd.read_csv("Africa_Covid.csv", encoding="latin1")
df.head()

,Name,Cases_cumulative total,Cases _newly reported in last 7 days,Cases _newly reported in last 24 hours,Deaths _cumulative total
0,South Africa,1369426,91123,12710,38854
1,Ethiopia,132034,2589,307,2044
2,Nigeria,114691,10692,1386,1478
3,Algeria,104606,1965,265,2854
4,Kenya,99444,889,136,1736