<h2>Data Mining End of Semester 2 Year 1 August 2022</h2><br><b>BY EDISON NKURUNUNGI</b><br><b>JAN22/COMP/959U</b>

<b>QUESTION 2</b>

In [1]:
import requests
import lxml.html as lh
import pandas as pd
import numpy as np

In [2]:
africa_url = 'https://www.worldometers.info/population/countries-in-africa-by-population/' #assign the wiki page

page = requests.get(africa_url) # create a handle to for contents of the wiki page

doc = lh.fromstring(page.content) # store content of the wiki page under doc

tr_elements = doc.xpath('//tr') # parse data stored between tr in the html

[len(T) for T in tr_elements[:12]] # check the length of the first 12

[12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12]

In [3]:
tr_elements = doc.xpath('//tr') # parse first row as header

col = [] # create empty list
i = 0

for t in tr_elements[0]: # for each row, store each first element (header) and an empty list
    i+=1
    name=t.text_content()
    print("%d:%s" % (i,name))
    col.append((name,[]))

1:#
2:Country (or dependency)
3:Population (2020)
4:Yearly Change
5:Net Change
6:Density (P/Km²)
7:Land Area (Km²)
8:Migrants (net)
9:Fert. Rate
10:Med. Age
11:Urban Pop %
12:World Share

In [4]:
for j in range(1,len(tr_elements)): # Because header is the first row, data would be store in the subsequent rows.
    T = tr_elements[j] #T is j'th row
    
    if len(T)!=12: #if row is not size 3, //tr data is not from the table.
        break
        
    i = 0 #i is the index of the first column
    
    for t in T.iterchildren(): #iterate through each element of the row
        data=t.text_content()
            
        col[i][1].append(data) #append the data to the empty list of the i'th column
            
        i+=1 #increment i for the next column

In [5]:
[len(C) for (title,C) in col]

[58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58, 58]

In [6]:
Dict = {title:column for (title,column) in col}
df = pd.DataFrame(Dict)

In [7]:
df.head()

,#,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,1,Nigeria,"206,139,589",2.58 %,"5,175,990",226,"910,770","-60,000",5.4,18,52 %,2.64 %
1,2,Ethiopia,"114,963,588",2.57 %,"2,884,858",115,"1,000,000","30,000",4.3,19,21 %,1.47 %
2,3,Egypt,"102,334,404",1.94 %,"1,946,331",103,"995,450","-38,033",3.3,25,43 %,1.31 %
3,4,DR Congo,"89,561,403",3.19 %,"2,770,836",40,"2,267,050","23,861",6.0,17,46 %,1.15 %
4,5,South Africa,"59,308,690",1.28 %,"750,420",49,"1,213,090","145,405",2.4,28,67 %,0.76 %

<b>a) Clean the data set (5 marks)</b>

<p>Cleaning Empty Cells by removing rows that contain empty cells (our dataset has one record that has empty cells)</p>

In [9]:
new_df = df.dropna()

print(new_df.to_string())

     #   Country (or dependency) Population (2020) Yearly Change Net Change Density (P/Km²) Land Area (Km²) Migrants (net) Fert. Rate Med. Age Urban Pop % World Share
0    1                   Nigeria       206,139,589        2.58 %  5,175,990             226         910,770        -60,000        5.4       18        52 %      2.64 %
1    2                  Ethiopia       114,963,588        2.57 %  2,884,858             115       1,000,000         30,000        4.3       19        21 %      1.47 %
2    3                     Egypt       102,334,404        1.94 %  1,946,331             103         995,450        -38,033        3.3       25        43 %      1.31 %
3    4                  DR Congo        89,561,403        3.19 %  2,770,836              40       2,267,050         23,861        6.0       17        46 %      1.15 %
4    5              South Africa        59,308,690        1.28 %    750,420              49       1,213,090        145,405        2.4       28        67 %      0.76 %
5    6                  Tanzania        59,734,218        2.98 %  1,728,755              67         885,800        -40,076        4.9       18        37 %      0.77 %
6    7                     Kenya        53,771,296        2.28 %  1,197,323              94         569,140        -10,000        3.5       20        28 %      0.69 %
7    8                    Uganda        45,741,007        3.32 %  1,471,413             229         199,810        168,694        5.0       17        26 %      0.59 %
8    9                   Algeria        43,851,044        1.85 %    797,990              18       2,381,740        -10,000        3.1       29        73 %      0.56 %
9   10                     Sudan        43,849,260        2.42 %  1,036,022              25       1,765,048        -50,000        4.4       20        35 %      0.56 %
10  11                   Morocco        36,910,560        1.20 %    438,791              83         446,300        -51,419        2.4       30        64 %      0.47 %
11  12                    Angola        32,866,272        3.27 %  1,040,977              26       1,246,700          6,413        5.6       17        67 %      0.42 %
12  13                     Ghana        31,072,940        2.15 %    655,084             137         227,540        -10,000        3.9       22        57 %      0.40 %
13  14                Mozambique        31,255,435        2.93 %    889,399              40         786,380         -5,000        4.9       18        38 %      0.40 %
14  15                Madagascar        27,691,018        2.68 %    721,711              48         581,795         -1,500        4.1       20        39 %      0.36 %
15  16                  Cameroon        26,545,863        2.59 %    669,483              56         472,710         -4,800        4.6       19        56 %      0.34 %
16  17             Côte d'Ivoire        26,378,274        2.57 %    661,730              83         318,000         -8,000        4.7       19        51 %      0.34 %
17  18                     Niger        24,206,644        3.84 %    895,929              19       1,266,700          4,000        7.0       15        17 %      0.31 %
18  19              Burkina Faso        20,903,273        2.86 %    581,895              76         273,600        -25,000        5.2       18        31 %      0.27 %
19  20                      Mali        20,250,833        3.02 %    592,802              17       1,220,190        -40,000        5.9       16        44 %      0.26 %
20  21                    Malawi        19,129,952        2.69 %    501,205             203          94,280        -16,053        4.3       18        18 %      0.25 %
21  22                    Zambia        18,383,955        2.93 %    522,925              25         743,390         -8,000        4.7       18        45 %      0.24 %
22  23                   Senegal        16,743,927        2.75 %    447,563              87         192,530        -20,000        4.7       19        49 %      0.21 %
23  24                      Chad        16,425,864        3.00 %    478,988              13       1,259,200          2,000        5.8       17        23 %      0.21 %
24  25                   Somalia        15,893,222        2.92 %    450,317              25         627,340        -40,000        6.1       17        47 %      0.20 %
25  26                  Zimbabwe        14,862,924        1.48 %    217,456              38         386,850       -116,858        3.6       19        38 %      0.19 %
26  27                    Guinea        13,132,795        2.83 %    361,549              53         245,720         -4,000        4.7       18        39 %      0.17 %
27  28                    Rwanda        12,952,218        2.58 %    325,268             525          24,670         -9,000        4.1       20        18 %      0.17 %
28  29                     Benin        12,123,200        2.73 %    322,049             108         112,760         -2,000        4.9       19        48 %      0.16 %
29  30                   Tunisia        11,818,619        1.06 %    123,900              76         155,360         -4,000        2.2       33        70 %      0.15 %
30  31                   Burundi        11,890,784        3.12 %    360,204             463          25,680          2,001        5.5       17        14 %      0.15 %
31  32               South Sudan        11,193,725        1.19 %    131,612              18         610,952       -174,200        4.7       19        25 %      0.14 %
32  33                      Togo         8,278,724        2.43 %    196,358             152          54,390         -2,000        4.4       19        43 %      0.11 %
33  34              Sierra Leone         7,976,983        2.10 %    163,768             111          72,180         -4,200        4.3       19        43 %      0.10 %
34  35                     Libya         6,871,292        1.38 %     93,840               4       1,759,540         -1,999        2.3       29        78 %      0.09 %
35  36                     Congo         5,518,087        2.56 %    137,579              16         341,500         -4,000        4.5       19        70 %      0.07 %
36  37                   Liberia         5,057,681        2.44 %    120,307              53          96,320         -5,000        4.4       19        53 %      0.06 %
37  38  Central African Republic         4,829,767        1.78 %     84,582               8         622,980        -40,000        4.8       18        43 %      0.06 %
38  39                Mauritania         4,649,658        2.74 %    123,962               5       1,030,700          5,000        4.6       20        57 %      0.06 %
39  40                   Eritrea         3,546,421        1.41 %     49,304              35         101,000        -39,858        4.1       19        63 %      0.05 %
40  41                   Namibia         2,540,905        1.86 %     46,375               3         823,290         -4,806        3.4       22        55 %      0.03 %
41  42                    Gambia         2,416,668        2.94 %     68,962             239          10,120         -3,087        5.3       18        59 %      0.03 %
42  43                  Botswana         2,351,627        2.08 %     47,930               4         566,730          3,000        2.9       24        73 %      0.03 %
43  44                     Gabon         2,225,734        2.45 %     53,155               9         257,670          3,260        4.0       23        87 %      0.03 %
44  45                   Lesotho         2,142,249        0.80 %     16,981              71          30,360        -10,047        3.2       24        31 %      0.03 %
45  46             Guinea-Bissau         1,968,001        2.45 %     47,079              70          28,120         -1,399        4.5       19        45 %      0.03 %
46  47         Equatorial Guinea         1,402,985        3.47 %     46,999              50          28,050         16,000        4.6       22        73 %      0.02 %
47  48                 Mauritius         1,271,768        0.17 %      2,100             626           2,030              0        1.4       37        41 %      0.02 %
48  49                  Eswatini         1,160,164        1.05 %     12,034              67          17,200         -8,353        3.0       21        30 %      0.01 %
49  50                  Djibouti           988,000        1.48 %     14,440              43          23,180            900        2.8       27        79 %      0.01 %
50  51                   Réunion           895,312        0.72 %      6,385             358           2,500         -1,256        2.3       36       100 %      0.01 %
51  52                   Comoros           869,601        2.20 %     18,715             467           1,861         -2,000        4.2       20        29 %      0.01 %
52  53            Western Sahara           597,339        2.55 %     14,876               2         266,000          5,582        2.4       28        87 %      0.01 %
53  54                Cabo Verde           555,987        1.10 %      6,052             138           4,030         -1,342        2.3       28        68 %      0.01 %
54  55                   Mayotte           272,815        2.50 %      6,665             728             375              0        3.7       20        46 %      0.00 %
55  56       Sao Tome & Principe           219,159        1.91 %      4,103             228             960         -1,680        4.4       19        74 %      0.00 %
56  57                Seychelles            98,347        0.62 %        608             214             460           -200        2.5       34        56 %      0.00 %
57  58              Saint Helena             6,077        0.30 %         18              16             390                      N.A.     N.A.        27 %      0.00 %

<p>Discover duplicates and remove them</p>

In [8]:
print(df.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
56    False
57    False
dtype: bool

<p>This implies that there are no duplicated records in the dataset</p>

<b>b) Write one line of code that can produce the Figure (1a). (5 marks)</b>

In [15]:
new_df.describe()

,#,Country (or dependency),Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
count,58,58,58,58,58,58,58,58,58,58,58,58
unique,58,58,58,53,58,48,58,47,38,20,42,36
top,1,Nigeria,"206,139,589",2.58 %,"5,175,990",25,"910,770","-2,000",4.7,19,43 %,0.01 %
freq,1,1,1,2,1,3,1,3,5,14,4,6

In [16]:
new_df.corr()

Empty DataFrame
Columns: []
Index: []